.cartCount{
  background: deeppink;
  color: white;
  font-size: 12px;
  width: 15px;
  display: flex;
  justify-content: center;
  padding: 5px 5px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
}
